*, *::before, *::after {
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style:normal;
  font-size:16px;
  margin: 0;
  font-weight: 400;
}


body{
    font-optical-sizing: auto;
   font-style:normal;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-gray-700);
  background-color: var(--color-gray-000);
 
}