<section id="download-app">


    <div class="container">
        <div class="download-image">
            <img class="image-1" src="/images/icons/Group 2103.svg" alt="" />
            <img class="image-2" src="/images/icons/Group 2.svg" alt="" />
        </div>

        <div class="content"
            <h1>Download our App for Any Devices:</h1>
            <div class="download-app-box-group">
                <p class="store">App Store</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                       <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                             <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                </div>
                <h4>Editor's Choice</h4>
                <p class="statistics">rating 4.7,187K+ rewieus</p>
                <img src="/images/icons/appstore.svg" />
            </div>
              <div class="download-app-box-group">
                <p class="store">Google Play</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                       <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                             <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                </div>
                <h4>Editor's Choice</h4>
                <p class="statistics">rating 4.8,187K+ rewieus</p>
                <img src="/images/icons/googleplay.svg" />
            </div>
    </div>
    </div>
</section>