<section id="lightdark">
    <div class="dark-bg"></div>
    <div class="container">
        <h1>Switch Between</h1>
        <h1>Light& Dark Mode</h1>
    </div>
    <img src="/images/icons/mockup.svg" alt="" />

</section>