<section id=manage-work>
    <div class="container">
        <img src="/images/icons/image manage.svg" alt="" />
        <div class="content">
            <ul>

                <li><i class="fa-regular fa-circle-check"></i> Powerful management</li>
                <li><i class="fa-regular fa-circle-check"></i> Transparent work management</li>
                <li><i class="fa-regular fa-circle-check"></i> Manage work & focus on the most important tasks</li>
                <li><i class="fa-regular fa-circle-check"></i> Track your progress with interactive charts</li>
                <li><i class="fa-regular fa-circle-check"></i> Easiest way to track time spent on tasks</li>

            </ul>
            <a class="btn-btn-theme" href="/">Learn more <i class="fa-regular fa-arrow right">/></i></a>
        </div>
    </div>


</section>